*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/FondoLogin.png") no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.wrapper{
    margin-top: -40px;
    width: 420px;
    background: transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    border:2px solid #fff8ed;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
}
.wrapper h1{
    letter-spacing: 3px;

    text-align: center;
    font-size: 36px;
    color: #ff881a;
    font-weight: 900;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 16px;
    color: #ffc470;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}



.wrapper .button{
    letter-spacing: 1px;

    width: 100%;
    height: 45px;
    background: white;
    border: none;
    color: #ff881a;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.1);
    cursor: pointer;
    font-size: 16px;
}
.wrapper .button:hover{
    background-color: #ff881a;
    color: white;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    transition: .5s;

}

.wrapper .register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
    color: #7f340f;
}
.wrapper .register-link p a{
    color: #ff9f37;
    text-decoration: none;
    font-weight: 600;

}

.wrapper .register-link p a:hover{
    text-decoration: underline;
    color: #7f340f;
}